{{ define "main" }}
<div class="list-page">
	<header class="list-page-title">
			<h1 class="list-page-title__inner">
					{{ .Title }}
			</h1>
		</header>
	<ul class="list-page__list">
		{{ $paginator := .Paginate (.Data.Pages.ByDate.Reverse) }}
		{{ range $paginator.Pages }}
		<li class="list-page__item">
			<header class="post-header">
				<h1>
					<a href="{{ .Permalink }}">{{ .Title }}</a>
				</h1>
				<p>
					{{- .Date.Format "Mon Jan 2, 2006" -}}
					{{ if ne .Date .Lastmod }}
					Update: {{ .Lastmod.Format "Mon Jan 2, 2006" -}}
					{{ end }}
				</p>
			</header>
			<section class="post-excerpt">
				<p>
					{{ .Summary }} &hellip; <a class="read-more" href="{{ .URL }}">&raquo;</a>
				</p>
			</section>
		</li>
		{{ end }}
	</ul>
	{{ partial "pagination.html" . }}
</div>
{{ end }}
