{{ define "main" }}
{{ $toc := eq $.Params.toc true }}
{{ if $toc }}
{{ $headers := findRE "<h[2-3].*?>(.|\n])+?</h[2-3]>" .Content }}
{{ $last := $headers | len | add -1 }}
<script type="application/json" id="table-of-contents-data">
{
	"headings": [
	{{- range $i, $header := $headers }}
		{{- $name := $header | plainify | htmlEscape }}
		{{- $tag := htmlEscape $header | replaceRE "^&lt;(h.).+$" "$1" }}
		{{- $sub := eq $tag "h3" }}
		{{- $id := htmlEscape $header | replaceRE "^.+id=&#34;(.+)&#34;.+$" "$1" }}
		{{- $url := delimit ( slice "#" $id) "" }}
		{
			"name": {{ $name }},
			"url": {{ $url }},
			"sub": {{ $sub }}
		}
		{{- if ne $i $last }},{{ end -}}
	{{ end }}
	]
}
</script>
<article class="with-toc">
{{ else }}
<article>
{{ end }}
	<header class="post-header">
		<h1>{{- .Title -}}</h1>
		<p>{{- .Date.Format "Mon Jan 2, 2006" -}}
		{{ if ne .Date .Lastmod }}
		Update: {{ .Lastmod.Format "Mon Jan 2, 2006" -}}
		{{ end }}</p>
	</header>
	<section class="post-content">
		{{ .Content }}
	</section>
	<footer class="post-footer"></footer>
</article>
{{ end }}
