<footer class="global-footer">
	<div class="global-footer__main">
		<div class="global-footer__section">
				<h3 class="global-footer__heading">{{ .Site.Title }}</h3>
				<p>Created by <a href="https://twitter.com/kazushikonosu">@kazushikonosu</a></p>
				<p>Github: <a href="https://github.com/kazushisan">kazushisan</a></p>
		</div>
		<div class="global-footer__section">
				<p>This website is managed on <a href="https://github.com/kazushisan/gadgetlunatic">github.com/kazushisan/gadgetlunatic</a></p>
		</div>
		<div class="global-footer__section">
				<p>&copy; {{ now.Format "2006" }} {{ .Site.Title }}</p>
		</div>
	</div>
</footer>
