<header class="global-header">
	<div class="global-header__main">
		<h1 class="global-header__title">
			<a href="{{.Site.BaseURL}}" class="global-header__link">
				{{- .Site.Title -}}
			</a>
		</h1>
	</div>
	<div class="global-header__sub">
		<ul class="global-header__list">
			{{ range .Site.Menus.main }}
			<li class="global-header__item">
				<a href="{{ .URL }}">
					{{ .Pre }}
					<span>{{ .Name }}</span>
				</a>
			</li>
			{{ end}}
		</ul>
	</div>
	{{ if or ( eq .Type "documentation" | and .IsPage) (.IsPage | and $.Params.toc) }}
	<div id="table-of-contents"></div>
	{{ end }}
</header>
