<header class="global-header">
	<div class="global-header__main">
		<h1 class="global-header__title">
			<a href="{{.Site.BaseURL}}" class="global-header__link">
				{{- .Site.Title -}}
			</a>
		</h1>
	</div>
	<div class="global-header__sub">
		<ul class="global-header__list">
			{{ range .Site.Menus.main }}
				<li class="global-header__item">
					<a href="{{ .URL }}">
						{{ .Pre }}
						<span>{{ .Name }}</span>
					</a>
				</li>
			{{ end}}
		</ul>
	</div>
	{{ if ( eq .Type "documentation" | and .IsPage) }}
		{{- partial "table-for-documentation.html" . -}}
	{{ else if .IsPage }}
		{{- partial "table-of-contents.html" . -}}
	{{ end }}
</header>
