{{ $headers := findRE "<h[2-3].*?>(.|\n])+?</h[2-3]>" .Content }}
{{ $showToc := eq $.Params.toc true }}
{{ if $showToc }}
<div class="table-of-contents">
	<ul>
		{{ range $header := $headers }}
			{{ $name := $header | plainify }}
			{{ $tag := htmlEscape $header | replaceRE "^&lt;(h.).+$" "$1" }}
			{{ $class := "" }}
			{{ if eq $tag "h3" }}
				{{ $class = "table-of-contents__item--sub" }}
			{{ end }}
			{{ $id := htmlEscape $header | replaceRE "^.+id=&#34;(.+)&#34;.+$" "$1" }}
			{{ $url := delimit ( slice "#" $id) "" }}
			<li class="table-of-contents__item {{ $class }}">
				<a class="table-of-contents__link" href="{{ $url }}">
					{{ htmlUnescape $name }}
				</a>
			</li>
		{{ end }}		
	</ul>
</div>
{{ end }}
