{{ $headers := findRE "<h2.*?>(.|\n])+?</h2>" .Content }}
{{ $hasHeader := ge (len $headers) 1 }}
{{ $permalink := .Permalink }}
<div id="table-for-documentation">
	<h1>{{ .Page.CurrentSection.Title }}</h1>
	<ul>
		{{ range (where .Site.RegularPages "Section" .CurrentSection.Section).ByWeight }}
			{{if (eq .Permalink $permalink | and $hasHeader)}}
				<li class="page"><a href="{{ .Permalink }}" class="on">{{ .Title }}</a></li>
				{{ range $header := $headers }}
					{{ $name := ($header | plainify) }}
					{{ $tag := htmlEscape $header | replaceRE "^&lt;(h.).+$" "$1" }}
					{{ $id := htmlEscape $header | replaceRE "^.+id=&#34;(.+)&#34;.+$" "$1" }}
					{{ $url := delimit ( slice "#" $id) "" }}
					<li class="{{ $tag }}"><a href="{{ $url }}">{{ htmlUnescape $name }}</a></li>
				{{ end }}				
			{{ else }}
				<li class="page"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
			{{ end }}
		{{ end }}
	</ul>
</div>
