@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .prose a.heading-anchor :where(h1, h2, h3, h4, h5, h6):hover::before {
    content: '#';
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-weight: theme('fontWeight.normal');
    color: theme('colors.slate.200');
  }

  /* align pre style with shiki */
  .prose pre {
    background-color: rgb(46, 52, 64);
    color: rgb(216, 222, 233);
  }
}
