@charset "utf-8";

#content {
  margin-top: 60px;
  overflow: hidden;
  position: relative;
  z-index: 5;
  background-color: $white;
  width: 100vw;
  transition: margin-left 0.3s ease-out;
  flex-grow: 1;
}

.show-menu {
  #content {
    margin-left: 300px;
  }
}
