@charset "utf-8";

.global-footer {
  color: $black;
  overflow: hidden;
  position: relative;
  z-index: 5;
  background-color: $grey;
  width: 100vw;
  transition: margin-left 0.3s ease-out;
  flex: 0 0 auto;

  @media #{$pc} {
    z-index: 10;
  }

  .show-menu & {
    margin-left: 300px;
  }

  &__main {
    margin: 48px 32px;

    @media #{$pc} {
      margin: 64px;
    }
  }
}
