@charset "utf-8";

.global-footer{
	color: $black;
	overflow: hidden;
	position: relative;
	z-index:5;
	background-color:$white;
	width: 100vw;
	margin-left: -1px;
	border-left: 1px $grey-darker solid;
	transition: margin-left 0.3s ease-out;
	border-top: 1px $grey-darker solid;
	background-color: $grey;
	div.main{
		margin: 24px 32px;
	}
}
.show-menu{
	.global-footer{
		margin-left: 300px;
	}
}
@media screen and (min-width: 932px){
	.global-footer{
		z-index: 10;
		div.main{
			margin: 48px;
		}
	}
	.show-menu{
		.global-footer{
			margin-left: -1px;
		}
	}
}