@charset "utf-8";

.list-page {
  margin: 48px auto;
  max-width: 632px;

  &__list {
    margin: 0 16px;
  }

  &__item {
    margin: 16px 0;
    overflow: hidden;
    background-color: $white;
    border-radius: $border-radius;
    border: 1px $grey-darker solid;
    transition: all 0.2s ease;

    &:hover {
      transform: translateY(-4px);
    }
  }
}

.list-page-title {
  position: relative;
  display: flex;
  justify-content: center;

  &__inner {
    flex-basis: auto;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 24px 0;
    color: $black;
  }
}

.post-excerpt {
  margin: 24px 16px;

  p {
    margin: 1em 16px;
  }
}

.documentation-list-page {
  margin: 48px auto;

  @media #{$pc} {
    width: 932px;
  }

  &__list {
    margin: 24px 16px;

    @media #{$pc} {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 24px 0;
    }
  }
}

.doc-item {
  background-color: $white;
  color: $black;
  margin: 16px 0;
  transition: all 0.2s ease;
  border-radius: $border-radius;
  border: 1px $grey-darker solid;

  &:hover {
    transform: translateY(-4px);
  }

  @media #{$pc} {
    flex-basis: auto;
    flex-shrink: 0;
    margin: 8px;
    width: 450px;
    box-sizing: border-box;
  }

  &__title {
    font-size: 20px;
    margin: 0.5em 0;
    margin: 24px 32px;
  }

  &__link {
    color: inherit;
  }

  &__index {
    margin: 24px 32px;
  }

  &__index-item {
    margin: 8px 0;
  }
}
