@charset "utf-8";

// $color: #303036;
// $color: #55555A;
$color: #7B7B7F;
$theme: #0496FF;
$shade: #0489E8;
$white: #FFFDFF;
$black: #303036;
$font-size: 16px;
$font-small: 14px;
$box-shadow: 0 10px 30px rgba(0,0,0,0.08);

$grey: #faf9fa;
$grey-darker: #E8E4E8;
$grey-font: #B3B3B5;

$border-radius: 4px;
@mixin h($font-size) {
	color: $black;
    font-size: $font-size;
    margin: 1em 16px;
	font-weight: normal;
}